#controls1 {
    margin-bottom: 20px;
    margin-right: 20px;
}

#input1, #input2 {
    margin-bottom: 5px;
    margin-right: 5px;
}

#buttonId {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
}